.MC{	display:none;	}
.CP{	display:none;	}
.HK{	display:none;	}
.RE{	display:none;	}
.OC{  display:none; }
.DD{  display:none; }
#MCall{		display:none;	margin-left: 50px;}
#CPall{		display:none;	margin-left: 50px;}
#DDall{	display:none;	margin-left: 50px;}
#OCall{		display:none;	margin-left: 50px;}
#REall{		display:none;	margin-left: 50px;}
