body {
  background-color: powderblue;
  background-image: url("背景.png");
}
h1 {
  color: blue;
}
p {
  color: red;
}
a{
  text-decoration:none;
  color:black;
  font-size: 25px;
}
#img01{
    border-radius: 8px;
    height: auto;
    max-width:100%;
    margin: auto;
}
table {
    border-radius: 8px;
    font-family: 'Noto Sans TC', sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(100%, 100%, 100%, 0.6);
}
td {
    border-radius: 8px;
    font-family: 'Noto Sans TC', sans-serif;
    border: 5px solid;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
    text-align: center;
    padding: 0px;
    color: #46a3ff;
}
td:hover{
	color:#FF0000;
}
#link1{
		position: relative;
    border-radius: 8px;
		border-style:solid;
    border-width:3px;
}
#link2{
		position: relative;
    border-radius: 8px;
		border-style:solid;
    border-width:3px;
}
#link3{
		position: relative;
    border-radius: 8px;
		border-style:solid;
    border-width:3px;
}



