body {
  	background-color: powderblue;
  	background-image: url("背景.png");
}
p {
  	color: black;
	font-size: 16px;
	font-family: 微軟正黑體;
	display: flex;
   	align-items: center;
}
a{
  	text-decoration:none;
  	color:black;
  	font-size: 25px;
	margin:10px;
}
#img01{
    	border-radius: 8px;
    	height: auto;
    	max-width:100%;
   	 margin: auto;
	width: 1500px;
}
table {
    	border-radius: 8px;
    	font-family: 'Noto Sans TC', sans-serif;
    	margin-left: auto;
    	margin-right: auto;
    	background-color: rgba(100%, 100%, 100%, 0.6);
}
td {
    border-radius: 8px;
    font-family: 'Noto Sans TC', sans-serif;
    border: 5px solid;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
    text-align: center;
    padding: 0px;
    color: #46a3ff;
}
td:hover{
	color:#FF0000;
}
#block{
	position: relative;
}
.icon{
    	height: auto;
    	max-width:10%;
	width: 50px;
}
