
#TOP{
　background-color:#FFD4D4;
　height:200px;
　text-align:center;
　line-height:80px;
}
#LeftPart{
　background-color:#FFECC9;
　width:50%;
　text-align:center;
　float:left;
}
#RightPart{
　background-color:#FFECC9;
　width:50%;
　text-align:center;
　float:right;
}
#Down{
　clear:both;
　background-color:#FFD4D4;
　text-align:center;
}
