.SV{	display:none;	}
.CS{  display:none; }
.HK{	display:none;	}
.DD{  display:none; }
#CSall{	display:none;	margin-left: 50px;}
#SVall{	display:none;	margin-left: 50px;}
#DDall{	display:none;	margin-left: 50px;}
.title{margin-left: 25px;}
