.SV{	display:none;	}
.CS{  display:none; }
.HK{	display:none;	}
.DF{  display:none; }
.DS{  display:none; }
.DH{	display:none;	}
#CS{  display: inline-block;}
#CSall{	display:none;	margin-left: 50px;}
#SVall{	display:none;	margin-left: 50px;}
#DFall{	display:none;	margin-left: 50px;}
#DSall{	display:none;	margin-left: 50px;}
#DHall{	display:none;	margin-left: 50px;}
.title{margin-left: 25px;}
