.MC{	display:none;	}
.CP{	display:none;	}
.OC{  display:none; }
.TT{  display:none; }
.FT{  display:none; }
.YT{  display:none; }
#MCall{	display:none;	margin-left: 50px;}
#CPall{	display:none;	margin-left: 50px;}
#OCall{	display:none;	margin-left: 50px;}
#TTall{	display:none;	margin-left: 50px;}
#FTall{	display:none;	margin-left: 50px;}
#YTall{	display:none;	margin-left: 50px;}
.title{margin-left: 25px;}
